<app-header></app-header>
<div class="players" id="first" style="display: block;">
  <h2 class="title">Enter your Names</h2>
  <h2 class="subtitle">Remember, the X starts FIRST</h2>
  <input type="text" name="" value="Player 1" class="In1" id="In1">
  <input type="text" name="" value="Player 2" class="In2" id="In2">
  <img src="/../assets/X.png" alt="X"class="X">
  <img src="/../assets/O.png" alt="O"class="O">
  <button type="button" name="Empezar" class="Empezar" (click)="saveNames(); display();">Start</button>
</div>

<div class="game" id="second" style="display: none;">
  <div class="puntaje1"> {{ punt1 }} </div>
  <div class="puntaje2"> {{ punt2 }} </div>
  <div class="nombre1">  {{ player1 }} </div>
  <div class="nombre2">  {{ player2 }}  </div>
  <img src="/../assets/X.png" alt="X2"class="X2" id="1">
  <img src="/../assets/O.png" alt="O2"class="O2" id="2">
  <img src="/../assets/X.png" alt="X2"class="X2" id="3">
  <img src="/../assets/O.png" alt="O2"class="O2" id="4">
  <img src="/../assets/X.png" alt="X2"class="X2" id="5">
  <img src="/../assets/O.png" alt="O2"class="O2" id="6">
  <img src="/../assets/X.png" alt="X2"class="X2" id="7">
  <img src="/../assets/O.png" alt="O2"class="O2" id="8">
  <img src="/../assets/X.png" alt="X2"class="X2" id="9">

  <button type="button" name="b1" id="1b" class="button1" (click)="move('1b')"></button>
  <button type="button" name="b2" id="2b"class="button2" (click)="move('2b')" ></button>
  <button type="button" name="b3" id="3b"class="button3" (click)="move('3b')" ></button>
  <button type="button" name="b4" id="4b"class="button4" (click)="move('4b')" ></button>
  <button type="button" name="b5" id="5b"class="button5" (click)="move('5b')" ></button>
  <button type="button" name="b6" id="6b"class="button6" (click)="move('6b')" ></button>
  <button type="button" name="b7" id="7b"class="button7" (click)="move('7b')" ></button>
  <button type="button" name="b8" id="8b"class="button8" (click)="move('8b')" ></button>
  <button type="button" name="b9" id="9b"class="button9" (click)="move('9b')" ></button>

  <!--button type="button" name="Retornar" class="Retornar" (click)="default(); display();">Return</button-->
  <button type="button" name="Revancha" class="Revancha" (click)="rematch();">ReMatch</button>
  <button type="button" name="Inicio" class="Inicio" routerLink="/Home">Close</button>
</div>
